<?xml version="1.0"?>
<config>
    <modules>
       <OomensICT_Mollie>
          <version>0.2.3</version>
       </OomensICT_Mollie>
    </modules>
 
    <global>
        <helpers>
            <mollie>
                <class>OomensICT_Mollie_Helper</class>
            </mollie>
        </helpers>
        <models>
            <mollie>
                <class>OomensICT_Mollie_Model</class>
                <resourceModel>mollie_mysql4</resourceModel>
            </mollie>
            <ideal_mysql4>
                <class>OomensICT_Mollie_Model_Mysql4</class>
                <entities>
                    <api_debug><table>mollie_api_debug</table></api_debug>
                </entities>
            </ideal_mysql4>
        </models>
 
        <resources>
            <mollie_setup>
                <setup>
                    <module>OomensICT_Mollie</module>
                    <class>OomensICT_Mollie_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mollie_setup>
            <mollie_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </mollie_write>
            <mollie_read>
               <connection>
                <use>core_read</use>
              </connection>
            </mollie_read>
        </resources>
        <blocks>
            <mollie><class>OomensICT_Mollie_Block</class></mollie>
        </blocks>
        <sales>
            <order>
                <statuses>
                    <pending_mollie translate="label"><label>Pending Mollie</label></pending_mollie>
                </statuses>
                <states>
                    <pending_payment>
                        <statuses>
                            <pending_mollie/>
                        </statuses>
                    </pending_payment>
                </states>
            </order>
        </sales>
    </global>
    <frontend>
        <secure_url>
            <mollie_ideal>/mollie/ideal</mollie_ideal>
        </secure_url>
        <routers>
            <mollie>
                <use>standard</use>
                <args>
                    <module>OomensICT_Mollie</module>
                    <frontName>mollie</frontName>
                </args>
            </mollie>
        </routers>
        <translate>
            <modules>
                <OomensICT_Mollie>
                    <files>
                        <default>OomensICT_Mollie.csv</default>
                    </files>
                </OomensICT_Mollie>
            </modules>
        </translate>
        <layout>
            <updates>
                <mollie>
                    <file>mollie.xml</file>
                </mollie>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <OomensICT_Mollie>
                    <files>
                        <default>OomensICT_Mollie.csv</default>
                    </files>
                </OomensICT_Mollie>
            </modules>
        </translate>
    </adminhtml>
 
    <default>
        <payment>
            <mollie_ideal>
                <model>mollie/ideal</model>
                <title>Mollie iDEAL</title>
                <description>Mollie payment</description>
                <order_status>pending_mollie</order_status>
                <allowspecific>0</allowspecific>
            </mollie_ideal>
         </payment>
    </default>
</config>
      